<!DOCTYPE html>
<html>
    <head>
        <title>Plotter</title>
    </head>
    <body>
        <h1>Plotter</h1>
        <form method="POST">
            X from: <input type="number" name="x_from" value="0" required><br>
            X to: <input type="number" name="x_to" value="10" required><br>

            Function: <br>
            {% for name, func in functions.items() %}
                <input type="radio" name="function" value="{{ name }}" id="{{ name }}" required>
                <label for="{{ name }}">{{ name }}</label> <br>
            {% endfor %}<br>
            Color: <input type="color" name="color" value="#0000FF"><br>
            <input type="submit" value="Generate Plot">
        </form>

        {% if plot_url %}
            <img src="data:image/png;base64,{{ plot_url }}" alt="Generated Plot">
        {% endif %}

    </body>
</html>